/* $Id: pages.css,v 2.0 2011/09/29 19:00:00 andyb Exp $ */
/* this is for pages / views / site specific styles*/

/*home panels*/

#panel-home .panel-region-separator {
	display:none;
}
#panel-home {
	position:relative;
}
#pane-home-images {
	width:740px;
	margin-bottom:32px;
}
#pane-home-images img {
	display:inline-block;
	margin:0 auto 0 auto;
	padding:0;
}
#pane-home-text {
	float:left;
	width:340px;
	margin:0 auto 6px 0;
}
#pane-home-form {
	width:340px;
	margin:0 auto 12px 0;
}
#pane-home-form .webform-component-markup p {
	margin:0;
	padding:0;
	font-size:0.8em;
}
#pane-home-info {
	width:auto;
	margin:0 0 0 auto;
}
#pane-this-site {
	clear:both;
	float:left;
	width:340px;
	/*margin:30px 0 12px auto;*/
}
#pane-this-site .node-content, #pane-home-text .node-content {
	padding-top:0;
}
#panel-home .pane-1 {
	float:right;
	width:340px;
	margin-bottom:16px;
}
#panel-home .pane-2 {
	float:left;
	width:340px;
	margin-bottom:16px;
}
#pane-home-hubs {
	float:right;
	width:340px;
	margin-bottom:16px;
}
#pane-home-hubs .view-hubs-of-norwood {
	width:340px;
}
#pane-home-hubs .view-hubs-of-norwood ul li.views-row-2 {
	margin-right:0 !important;
}
#pane-home-hubs .view-hubs-of-norwood ul li.views-row-3 {
	margin-left:0 !important;
}
#pane-home-blog {
	/*clear:both;*/
	float:right;
	width:340px;
}
#pane-home #block-block-1 ul {
	width:auto;
	text-align:center;
}
#pane-home #block-block-1 ul li {
	display:inline;
	float:none;
}
#pane-home #block-block-1 ul li a {
	display:inline-block;
	text-align:left;
	width:106px;
	margin:0 1px;
}
#pane-home #block-block-3 {
}
#pane-home #block-block-3 h2.block-title {
	margin-bottom:21px;
}
#pane-home #block-block-3 .form-line {
	margin-bottom:12px;
}
#pane-home #block-block-3 label {
	display:inline-block;
	width:140px;
}
#pane-home #block-block-3 input.form-text {
	width:300px;
}
#pane-home #block-block-3 input.form-submit {
	margin-left:144px;
}
#pane-home #block-block-3 ul {
	display:none;
}
#pane-home #block-block-3 ul li label {
	display:inline-block;
}

#pane-home #block-views-next_feast-default, #pane-home #block-block-4, #pane-home #block-block-5, #pane-home #block-block-8 {
	width:290px;
	height:68px;
	float:left;
	padding:10px;
	background-color:#97b25f;
	color:#fff;
	text-align:center;
}
#pane-home #block-block-4, #pane-home #block-block-5 {
	background-color:#7C7067;
}
#pane-home #block-block-8 {
	background-color:#d2ca47;
}
#pane-home #block-views-next_feast-default { 
	margin-right:15px;
}
#pane-home #block-block-5 {
	float:right;
	margin-right:0;
}
#pane-home #block-views-next_feast-default h2.block-title, .front #block-block-4 h2.block-title, .front #block-block-5 h2.block-title, .front #block-block-8 h2.block-title {
	color:#fff;
}
#pane-home #block-views-next_feast-default .date-display-start {
	display:inline-block;
}
#pane-home #block-block-4 a, #pane-home #block-block-5 a, #pane-home #block-block-8 a {
	display:block;
	font-size:17px;
	color:#fff;
	margin:-10px;
	padding:22px 15px;
	width:280px;
	height:44px;
}
#pane-home #block-block-4 a:hover, #pane-home #block-block-5 a:hover, #pane-home #block-block-8 a:hover {
	background-color:#F08B1D;
	color:#fff !important;
}

#pane-home .pane-latest-blog {
}
#pane-home .pane-latest-blog .views-field-title {
	margin-bottom:24px;
	height:21px;
	overflow:visible;
}

/*end of home panels*/

/*map of west norwood*/

#panel-whats-going-on .pane-1 {
	margin-top:1em;
}

#new-item-menu {
	position:relative;
	display:none;
	width:auto;
	z-index:100;
	margin:-2px 0 0 0;
	padding:0;
	background-color:#e6e6e6;
}
ul.buttons li.new-item-link {
	position:relative;
	height:21px;
	overflow:visible;
	margin-right:0;
}
/*li.new-item-link:hover #new-item-menu {
	display:block;
}*/
#panel-whats-going-on {
}
#panel-whats-going-on #pane-map-intro-links {
	margin-bottom:16px;
	font-size:0.9em;
}
#panel-whats-going-on #pane-map-intro-links div a {
	display:block;
	padding:8px 10px;
	text-decoration:none;
	color:#000;
}
#panel-whats-going-on #pane-map-intro-links div a:hover {
	color:#fff !important;
}
#panel-whats-going-on #pane-map-intro-links #map-norwood-desc {
	float:left;
	width:220px;
	margin-right:10px;
	background-color:#eee;
}
#panel-whats-going-on #pane-map-intro-links a#map-norwood-desc:hover {
	background-color:#7C7067;
}
#panel-whats-going-on #pane-map-intro-links #map-norwood-explore {
	float:left;
	width:220px;
	margin-right:10px;
	background-color:#eee;
}
#panel-whats-going-on #pane-map-intro-links a#map-norwood-explore:hover {
	background-color:#585887;
}
#panel-whats-going-on #pane-map-intro-links #map-norwood-add {
	width:220px;
	margin-left:500px;
	background-color:#eee;
}
#panel-whats-going-on #pane-map-intro-links a#map-norwood-add:hover {
	background-color:#9D9D21;
}
#new-item-menu li {
	display:block;
	float:none;
	margin:0;
	padding:0:
}
#new-item-menu li a {
	display:block;
}

#pane-map-of-norwood {
	clear:both;
	width:740px;
	margin-top:-10px;
}
.gmap-popup {
	font-size:0.8em;
	line-height:1.6em;
}

/*end of map of west norwood*/

/*list of west norwood*/

.view-list-of-norwood, .view-user-list-of-norwood, .view-pr-user-list-of-norwood, .view-latest-of-norwood, .view-hubs-of-norwood  {
	margin:20px 0 0 0;
	width:740px;
	font-size:0.9em;
	line-height:1.5em;
}
.view-list-of-norwood .item-list, .view-user-list-of-norwood .item-list, .view-pr-user-list-of-norwood .item-list, .view-latest-of-norwood .item-list, .view-hubs-of-norwood .item-list {
	clear:both;
}

.view-list-of-norwood ul, .view-user-list-of-norwood ul, .view-pr-user-list-of-norwood ul, .view-latest-of-norwood ul, .view-hubs-of-norwood ul {
	display:block;
	margin:0;
	padding:0;
	list-style-type:none;
}

.view-list-of-norwood ul li, .view-user-list-of-norwood ul li, .view-pr-user-list-of-norwood ul li, .view-latest-of-norwood ul li, .view-hubs-of-norwood ul li {
	display:block;
	float:left;
	width:140px !important;
	margin:0 30px 12px 30px;
	padding:0;
	list-style-type:none;
}
.view-list-of-norwood ul li.views-row-1, .view-list-of-norwood ul li.views-row-5, .view-list-of-norwood ul li.views-row-9, .view-list-of-norwood ul li.views-row-13, .view-list-of-norwood ul li.views-row-17, .view-list-of-norwood ul li.views-row-21, .view-user-list-of-norwood ul li.views-row-1, .view-user-list-of-norwood ul li.views-row-5, .view-user-list-of-norwood ul li.views-row-9, .view-user-list-of-norwood ul li.views-row-13, .view-user-list-of-norwood ul li.views-row-17, .view-user-list-of-norwood ul li.views-row-21, .view-pr-user-list-of-norwood ul li.views-row-1, .view-pr-user-list-of-norwood ul li.views-row-5, .view-pr-user-list-of-norwood ul li.views-row-9, .view-pr-user-list-of-norwood ul li.views-row-13, .view-pr-user-list-of-norwood ul li.views-row-17, .view-pr-user-list-of-norwood ul li.views-row-21, .view-latest-of-norwood ul li.views-row-1, .view-latest-of-norwood ul li.views-row-5, .view-latest-of-norwood ul li.views-row-9, .view-latest-of-norwood ul li.views-row-13, .view-latest-of-norwood ul li.views-row-17, .view-latest-of-norwood ul li.views-row-21, .view-hubs-of-norwood ul li.views-row-1 {
	margin-left:0;
	clear:both;
}
.view-list-of-norwood ul li.views-row-4, .view-list-of-norwood ul li.views-row-8, .view-list-of-norwood ul li.views-row-12, .view-list-of-norwood ul li.views-row-16, .view-list-of-norwood ul li.views-row-20, .view-list-of-norwood ul li.views-row-24, .view-user-list-of-norwood ul li.views-row-4, .view-user-list-of-norwood ul li.views-row-8, .view-user-list-of-norwood ul li.views-row-12, .view-user-list-of-norwood ul li.views-row-16, .view-user-list-of-norwood ul li.views-row-20, .view-user-list-of-norwood ul li.views-row-24, .view-pr-user-list-of-norwood ul li.views-row-4, .view-pr-user-list-of-norwood ul li.views-row-8, .view-pr-user-list-of-norwood ul li.views-row-12, .view-pr-user-list-of-norwood ul li.views-row-16, .view-pr-user-list-of-norwood ul li.views-row-20, .view-pr-user-list-of-norwood ul li.views-row-24, .view-latest-of-norwood ul li.views-row-4, .view-latest-of-norwood ul li.views-row-8, .view-latest-of-norwood ul li.views-row-12, .view-latest-of-norwood ul li.views-row-16, .view-latest-of-norwood ul li.views-row-20, .view-latest-of-norwood ul li.views-row-24, .view-hubs-of-norwood ul li.views-row-4 {
	margin-right:0;
}
.view-list-of-norwood ul li .views-field-field-photographs-fid, .view-user-list-of-norwood ul li .views-field-field-photographs-fid, .view-pr-userlist-of-norwood ul li .views-field-field-photographs-fid, .view-latest-of-norwood ul li .views-field-field-photographs-fid, .view-hubs-of-norwood ul li .views-field-field-photographs-fid {
	height:140px;
	margin:0 0 10px 0;
	background-color:#fff;
}
.view-list-of-norwood ul li .views-field-field-repeat-period-value .field-content, .view-user-list-of-norwood ul li .views-field-field-repeat-period-value .field-content, .view-pr-userlist-of-norwood ul li .views-field-field-repeat-period-value .field-content, .view-latest-of-norwood ul li .views-field-field-repeat-period-value .field-content {
	display:inline;
}
.view-list-of-norwood ul li .views-field-field-repeat-day-of-week-value .field-content, .view-user-list-of-norwood ul li .views-field-field-repeat-day-of-week-value .field-content, .view-pr-userlist-of-norwood ul li .views-field-field-repeat-day-of-week-value .field-content, .view-latest-of-norwood ul li .views-field-field-repeat-day-of-week-value .field-content {
	display:inline;
} 
.view-list-of-norwood .views-field-title, .view-user-list-of-norwood .views-field-title, .view-pr-user-list-of-norwood .views-field-title, .view-latest-of-norwood .views-field-title, .view-hubs-of-norwood .views-field-title {
	font-size:1em;
	margin-bottom:6px;
}
.view-list-of-norwood .views-field-title .field-content, .view-user-list-of-norwood .views-field-title .field-content, .view-pr-user-list-of-norwood .views-field-title .field-content, .view-latest-of-norwood .views-field-title .field-content, .view-hubs-of-norwood .views-field-title .field-content {
	display:block;
	vertical-align:middle;
	position:relative;
}
.view-list-of-norwood .views-field-title a, .view-user-list-of-norwood .views-field-title a, .view-pr-user-list-of-norwood .views-field-title a, .view-latest-of-norwood .views-field-title a, .view-hubs-of-norwood .views-field-title a {
	display:table-cell;
	color:#fff !important;
	text-decoration:none;
	background-color:#333;
	padding:2px 5px;
	width:130px;
	height:3em;
	text-align:center;
	vertical-align:middle;
	line-height:1.4em;
}
.view-list-of-norwood .views-field-title a:hover, .view-user-list-of-norwood .views-field-title a:hover, .view-pr-user-list-of-norwood .views-field-title a:hover, .view-latest-of-norwood .views-field-title a:hover, .view-hubs-of-norwood .views-field-title a:hover {
	background-color:#f08b1d !important;
	text-decoration:none;
	color:#fff !important;
}

/*end of list of west norwood*/

/*site panel*/

#panel-a-site {
}

#panel-a-site .pane-single-node-map {
	width:360px;
	float:right;
	margin-left:20px;
	margin-bottom:20px;
	padding-top:2px;
}
#panel-a-site .node-content-photographs {
	clear:both;
}
#panel-a-site .node-content-photographs div {
	display:inline;
}
#panel-a-site .node-content-photographs div a {
	display:inline-block;
	margin-left:4px;
	margin-bottom:4px;
}

.node-title, .node-submitted, .node-content-location, .node-content-opening-hours, .node-content, .node-content-photographs, #panel-a-site .node-content, .node-content-date, .node-contacts, #panel-a-site .node-content-owner-info {
	margin:0;
	padding:1em 0 0 0;
}
.node-title {
	padding-top:0;
}
.node-content-web, .node-content-email, .node-content-phone {
	margin:0;
	padding:0;
}
.node-content-location p, .node-content-date p {
	margin:0;
	padding:0;
}
.node-content-opening-hours .label {
	display:inline-block;
	width:86px;
	margin-right:4px;
}
#panel-a-site .node-content {
	clear:right;
	float:left;
	width:360px;
}
#panel-a-site .node-hub-page .node-content {
	clear:none;
}
#panel-a-site .node-content-owner-info {
	clear:right;
	width:328px;
	background-color:#f5f5f5;
	padding:16px 16px 12px 16px;
	margin:16px 0 16px auto;
}
.node-content-owner-info h5 {
	font-weight:normal;
}
.node-content-owner-info p {
	margin-bottom:0;
	padding-bottom:4px;
}
.node-content-owner-info .label {
	margin-bottom:2px;
	/*font-weight:bold;*/
}
.node-content-owner-info .profile-info {
	font-size:0.9em;
	font-style:normal;
	font-weight:bold;
	margin-bottom:4px;
}
.node-content-owner-info .future-info, .node-content-owner-info .memories-info {
	margin-bottom:4px;
}
.node-content-owner-info .profile-link {
	font-size:0.9em;
	font-style:normal;
	font-weight:normal;
	margin-bottom:4px;
}

#panel-a-site .pane-conversations {
	margin-top:16px;
}

.view-conversations {
}
.view-conversations .views-field-title {
	width:260px;
}
.view-conversations .views-field-title .comment-count {
	display:inline-block;
	margin-top:6px;
	font-size:0.9em;
	color:#333;
}
.view-conversations .views-field-title .body_text {
	display:inline-block;
	margin-top:6px;
	font-size:0.9em;
	color:#333;
}
.view-conversations .views-field-name {
	width:140px;
}

/*end of site panel*/

/*user profile*/ 

#panel-user-profile {
}
#panel-user-profile .panel-region-separator {
	clear:both;
}

#panel-user-profile .views-field-field-profile-picture-fid {
	float:right;
	margin-left:16px;
	margin-bottom:16px;
}

#panel-user-profile .field-content {
	/*display:block;
	margin-bottom:8px;*/
}
#panel-user-profile .views-field-edit-node .field-content, #panel-user-profile .views-field-edit-node-1 .field-content {
	display:inline;
}
#panel-user-profile .views-field-body, #panel-user-profile .views-field-field-web-value, #panel-user-profile .views-field-field-twitter-value, #panel-user-profile .views-field-field-blog-value, #panel-user-profile .views-field-field-live-work-value, #panel-user-profile .views-field-field-see-going-on-value, #panel-user-profile .views-field-field-memories-of-west-norwood-value, #panel-user-profile .views-field-field-favourite-thing-value, #panel-user-profile .views-field-field-skills-experince-value {
	width:420px;
	margin:0;
	padding:1em 0 0 0;
}
#panel-user-profile .views-field-body, #panel-user-profile .views-field-field-see-going-on-value, #panel-user-profile .views-field-field-favourite-thing-value, #panel-user-profile .views-field-field-web-value, #panel-user-profile .views-field-field-blog-value, #panel-user-profile .views-field-field-twitter-value, #panel-user-profile .views-field-field-memories-of-west-norwood-value {
	padding:0;
}
#panel-user-profile .view-user-list-of-norwood .views-field-body, #panel-user-profile .view-user-list-of-norwood .views-field-title, #panel-user-profile .view-user-list-of-norwood .views-field-type, #panel-user-profile .view-pr-user-list-of-norwood .views-field-body, #panel-user-profile .view-pr-user-list-of-norwood .views-field-title, #panel-user-profile .view-pr-user-list-of-norwood .views-field-type  {
	width:auto;
}
label.views-label-field-web-value, label.views-label-field-twitter-value {
	display:inline-block;
	margin-right:2px;
}
.views-field-field-web-value .field-content, .views-field-field-twitter-value .field-content {
	display:inline;
}
.views-field-field-live-work-value .field-content {
	display:block;
}
.pane-user-list-of-norwood, .pane-pr-user-list-of-norwood {
	margin-top:20px;
}


/*end of user profile*/

/*members directory*/

#panel-members-directory{
}

/*.view-Members {
	font-size:0.9em;
	line-height:1.5em;
}*/
.view-Members  {
	margin:20px 0 0 0;
	width:740px;
	font-size:0.9em;
	line-height:1.5em;
}
.view-Members .item-list {
	clear:both;
}

.view-Members ul {
	display:block;
	margin:0;
	padding:0;
	list-style-type:none;
}

.view-Members ul li {
	display:block;
	float:left;
	width:140px !important;
	margin:0 30px 12px 30px;
	padding:0;
	list-style-type:none;
}
.view-Members ul li.views-row-1, .view-Members ul li.views-row-5, .view-Members ul li.views-row-9, .view-Members ul li.views-row-13, .view-Members ul li.views-row-17, .view-Members ul li.views-row-21 {
	margin-left:0;
	clear:both;
}
.view-Members ul li.views-row-4, .view-Members ul li.views-row-8, .view-Members ul li.views-row-12, .view-Members ul li.views-row-16, .view-Members ul li.views-row-20, .view-Members ul li.views-row-24 {
	margin-right:0;
}
.view-Members .views-field-field-profile-picture-fid {
	height:140px;
	margin-bottom:16px;
}
.view-Members .views-field-name {
	font-size:1em;
}
.view-Members .views-field-name a {
	display:table-cell;
	color:#fff !important;
	text-decoration:none;
	background-color:#333;
	padding:2px 5px;
	width:130px;
	height:3em;
	text-align:center;
	vertical-align:middle;
}
.view-Members .views-field-name a:hover {
	background-color:#f08b1d !important;
	text-decoration:none;
	color:#fff !important;
}
/*end of members directory*/

/*blog entry*/

.node-content-back-to-blog {
	margin:14px 0 14px 0;
}

.node-story {
	margin-bottom:32px;
}

.node-story .node-content-photographs {
	float:right;
	width:340px;
	margin:16px 0 0 32px;
	padding:0;
}
.node-story .node-content-photographs img {
	display:block;
	margin:0 0 12px 0;
}
.node-story .node-content {
	width:360px;
	/*float:left;*/
	clear:none !important;
}

.node h1.page-title {
	margin-bottom:0;
	padding-bottom:0;
}

.node-story .node-submitted {
	/*float:left;*/
}
.node-post-date {
	margin:0 0 0 auto;
	padding-top:1em;
	text-align:right;
	font-style:italic;
}

/*end of blog entry*/

/*blog page*/

#panel-blog {
	margin-top:1em;
}
#panel-blog .views-row {
	position:relative;
	margin-bottom:16px;
	padding-bottom:16px;
	border-bottom:1px solid #ccc;
}
#panel-blog .views-row-last {
	border:none !important;
}
#panel-blog .views-field-field-photographs-fid {
	float:right;
	width:340px;
	margin:16px 0 0 32px;
	padding:0;
}
#panel-blog .views-field-field-photographs-fid img {
	display:block;
	margin:0 0 12px 0;
}
#panel-blog .views-field-title {
}
#panel-blog .views-field-created, #panel-blog .views-field-body, #panel-blog .views-field-view-node {
	width:360px;
	clear:none !important;
}
#panel-blog .views-field-body {
	margin-top:12px;
}
#panel-blog .views-field-body p {
	/*margin:0;
	padding:0;*/
}
#panel-blog .views-field-title {
	/*float:left;
	margin:0 16px 6px 20px;*/
}
#panel-blog .views-field-title a {
	
}
#panel-blog .views-field-title a:hover {
	background-color:#7C7067 !important;
	color:#fff !important;
	text-decoration:none;
}
#panel-blog .views-field-created {
	padding-top:4px;
	margin-bottom:6px;
	text-align:right;
	font-size:0.9em;
	font-style:italic;
}
#panel-blog .views-field-view-node {
	position:absolute;
	left:0;
	bottom:10px;
	font-size:1em;
	margin-bottom:6px;
}
#panel-blog .views-field-view-node a {
	display:inline-block;
	color:#f08b1d !important;
	text-decoration:none;
	background-color:#e6e6e6;
	padding:2px 5px;
	text-align:center;
}
#panel-blog .views-field-view-node a:hover {
	background-color:#7C7067 !important;
	color:#fff !important;
	text-decoration:none;
}
#panel-blog .comment_forbidden {
	display:none;
}
#panel-blog .views-field-field-html-code-value {
	margin-bottom:22px;
}

/*end of blog page*/

/*drupal forms*/

.form-item {
	margin-bottom:10px;
}
.fieldset {
	margin-bottom:20px;
}
.node-form {
	margin-top:16px;
}
.node-form label, .node-form strong, .node-form .fieldset-title {
	color:#000;
	font-weight:bold;
}
.node-form tr.odd {
	background-color:transparent;
}
.node-form table {
	border:1px solid #eee;
}
.node-form thead {
	background-color:#e2e2e2;
	border-bottom:none;
}
#edit-title-wrapper label{
	width:auto;
	display:inline-block;
	margin-right:4px;
}
#edit-title {
	display:inline-block;
	width:600px;
}
	

/*gmap on form */

#gmap-auto1map-locpick_latitude0-wrapper, #gmap-auto1map-locpick_longitude0-wrapper {
	display:none;
}
#edit-locations-0-name-wrapper label {
	width:auto;
	margin-right:16px;
}
#edit-locations-0-name-wrapper input {
	width:620px;
}
.location-current-coordinates-fieldset {
	display:none;
}

/*end of gmap on form*/

/*event form*/

.group-date-group .container-inline-date {
	width:auto;
	float:left;
	margin:0 auto 0 auto;
}

#edit-field-repeat-period-value-wrapper {
	width:auto;
	float:left;
	margin:0 18px 0 30px;
}
#edit-field-repeat-day-of-week-value-wrapper {
	width:auto;
	margin:0 0 0 auto;
}
#edit-field-time-0-value-wrapper {
	float:left;
	width:150px;
	margin:-16px auto auto auto;
	clear:none !important;
}
#edit-field-time-0-value2-wrapper {
	margin:-64px auto 0 180px;
	width:150px;
	clear:none !important;
}	

#edit-field-time-0-value-wrapper label, #edit-field-time-0-value2-wrapper label  {
	float:left;
	width:auto;
	margin-right:16px;
	font-weight:normal;
}

#edit-field-time-0-value-wrapper input, #edit-field-time-0-value2-wrapper input {
	width:80px !important;
	min-width:80px !important;
	display:inline-block;*/
}
.time-wrapper {
	width:300px;
	margin-top:0;
}
.time-wrapper .fieldset-title {
	float:left;
	width:40px;
	margin:0;
	padding:0;
	background-color:transparent;
}
.time-wrapper .fieldset-content {
	border:0;
	width:auto;
	margin:0 auto 0 64px;
	padding:0;
	clear:none !important;
}

.or-sep {
	width:auto;
	float:left;
	margin:0 12px auto 34px;
	padding-top:34px;
	font-size:2em;
}
#edit-field-repeat-day-of-week-value-wrapper label {
	display:none;
}
#edit-field-repeat-period-value-wrapper label {
	float:left;
	width:180px;
	margin-right:16px;
}
#edit-field-repeat-period-value-wrapper .description {
	width:180px;
	margin-top:-84px !important;
}

/*end of event form*/

/*opening hours dates*/

.group-openinghours {
	position:relative;
	clear:both;
}

.group-openinghours .fieldset-content .container-inline-date {
	float:left;
	width:200px;
	margin-right:16px;
	clear:none !important;
}
.group-openinghours .fieldset-content .container-inline-date label {
	float:left;
	width:auto;
	margin-right:16px;
	font-weight:normal;
}
.group-openinghours .fieldset-content .container-inline-date input {
	width:80px !important;
	min-width:80px !important;
	display:inline-block;*/
}
#edit-field-open-monday-0-value2-wrapper {
}
#edit-field-open-tuesday-0-value2-wrapper {
}
#edit-field-open-wednesday-0-value2-wrapper {
}
#edit-field-open-thursday-0-value2-wrapper {
}
#edit-field-open-friday-0-value2-wrapper {
}
#edit-field-open-saturday-0-value2-wrapper {
}
#edit-field-open-sunday-0-value2-wrapper {
}
.group-openinghours .fieldset-content .fieldset-title {
	float:left;
	width:140px;
	margin:0;
	padding:0;
	background-color:transparent;
}
.group-openinghours .fieldset-content .fieldset-content {
	border:0;
	width:540px;
	margin:0 auto 0 160px;
	padding:0;
	clear:none !important;
}
.group-openinghours .fieldset-content .fieldset-content .description {
	display:none;
}
#edit-field-open-sunday-0-value2-date-wrapper .description {
	display:block;
	width:100px;
	position:absolute;
	top:42px;
	right:8px;
}
/*end of opening hours dates*/

/*email and phone fields*/

input#edit-field-bus-email-0-value {
	width:300px;
	min-width:300px;	
}
input#edit-field-bus-phone-0-value  {
	width:140px;
	min-width:140px;
}
input#edit-field-bus-web-0-value {
	width:300px;
	min-width:300px;
}
#edit-field-bus-email-0-value-wrapper {
	width:370px;
	float:left;
	clear:none !important;
}
#edit-field-bus-phone-0-value-wrapper {
	width:auto;
	margin-left:420px;
	clear:none !important;
}
#edit-field-bus-web-0-value-wrapper {
	width:640px;
	clear:both !important;
}
#edit-field-bus-email-0-value-wrapper label, #edit-field-bus-phone-0-value-wrapper label, #edit-field-bus-web-0-value-wrapper label {
	width:40px;
	margin-right:16px;
	margin-top:4px;
	float:left;
}
#edit-field-bus-phone-0-value-wrapper label {
	width:auto;
}

/*end of email and phone fields*/

/*comments*/

#comments {	
	position:relative;
	min-height:500px;
	/*width:480px;
	margin-left:130px;
	margin-right:130px;*/
	padding:24px 130px 24px 130px;
	background-color:#f5f5f5;
}
#comments .comment {
	width:340px;
	/*float:left;*/
	margin:0;
	border:none;
	padding:1em 0 1em 0;
}
#comment-form {
}
#comment-form label {
	color:#000;
	display:inline-block;
	width:100px;
}

#comment-form #edit-comment-wrapper label {
	display:block;
}

#comments .box {
	/*position:absolute;*/
	/*width:340px;*/
	/*top:0;
	right:0;*/
}
.comment .comment_forbidden {
	display:none !important;
}

/*end of comments*/

/*conversations*/

.node-content-site-attach {
	margin:14px -200px 14px 0;
	z-index:10;
}
#panel-a-conversation .pane-content #comments {
	min-height:0;
	padding:0;
	background-color:transparent
}
#panel-a-conversation {
	position:relative;
	min-height:740px;
}
#panel-a-conversation .pane-node-content {
	width:340px;
}
#panel-a-conversation .pane-node-comments {
	width:340px;;
}
#panel-a-conversation .pane-node-comment-form {
	position:absolute;
	top:114px;
	right:0;
	width:340px;
}
#panel-a-conversation .pane-node-comments .comment_forbidden {
	display:none !important;
}
#edit-notify-wrapper label, #edit-notify-type-1-wrapper label, #edit-notify-type-2-wrapper label, #edit-fbconnect-feed-wrapper label {
	width:auto;
}
#edit-notify-type-1-wrapper {
	margin-left:0;
}

/*end of conversations*/

/*feast pages special panel set*/
 
#panel-feast {
	position:relative;
}
#panel-feast .panel-pane {
	clear:both;
	padding-top:32px;
}
#panel-feast .fieldgroup {
	position:relative;
}
#panel-feast .fieldgroup .content {
	padding-left:0;
}
#panel-feast .pane-title {
	color:#000;
	font-size:26px;
	font-weight:lighter;
}
#panel-feast .pane-field-feast-title-banner {
	padding-top:0;
}
#panel-feast .field-field-marketdate {
	text-align:center;
	font-size:32px;
	font-weight:lighter;
}
#panel-feast .field-field-feast-strapline {
	text-align:center;
	font-size:26px;
	font-weight:lighter;
}
#panel-feast .pane-node-body {
	font-size:16px;
}
#panel-feast .pane-field-feast-flyer {
	padding-top:0;
}
#panel-feast .pane-field-feast-flyer .field-item.odd {
	float:left;
}
#panel-feast .pane-field-feast-flyer .field-item.even {
	float:right;
}
#panel-feast .field-field-stalls-photo, #panel-feast .field-field-entertainment-photo  {
	float:right;
	width:340px;
	margin-left:10px;
}
#panel-feast .field-field-stalls-as-text {
}

/*end of feast pages special panel set*/