/* $Id: style.css,v 2.0 2011/09/29 19:00:00 andyb Exp $ */
/* this is for custom styles to overide the clean them*/

/*font size spec (use ems not px)*/
body {
	font-family:helvetica, arial, sans-serif;
	font-size:65% !important;
	color:#333;
}
html>body {
	font-size:62.5% !important;
}
body div#header {
	font-size:1.2em;
}
body div#branding {
	font-size:1.2em;
	text-align:center;
}
body div#navigation {
	font-size:1.8em;
}
body div#console {
	font-size:1.2em;
}
body div#page {
	font-size:1.2em;
	line-height:1.5em;
}
html>body div#page {
	font-size:1.4em;
}
body div#footer {
	font-size:1.2em;
}
/*end font size spec*/

/*page layout overides*/
body {
	/*background:#fff url(../images/background_1024.jpg) repeat 0 0;*/
}

.limiter {
	width:960px;
}

#header {
	padding:2px 0 0px 0;
	margin:0;
	background-color:#000;
	color:#fff;
}

#header .block {
	display:inline;
	margin:0;
	padding:0;
}
#top-blocks {
	min-height:229px;
	/*background:transparent url(../images/top_block.jpg) no-repeat top center;*/
}

#branding {
}

#searchetc {
}

#navigation {
	/*background-color:#211B15;*/
}
/*html>body #navigation {
	background:transparent url(../images/bars-background.png) repeat 0 0;
}*/

#console {
}

#page {
	margin-top:16px;
}

#content {
	width:740px !important;
}
.no-sidebars #content {
	width:960px !important;
}

#base-blocks {
}

#left {
	float:left;
	width:200px;
}

#right {
	float:right;
	width:200px;
}

#footer {
	clear:both;
}

/*main page style (h1's etc)*/

a, a:link, a:visited {
	color:#f08b1d;
}
a:hover {
	color:#3473A1 !important;
	/*text-decoration:underline;*/
}
h1, h2, h3, h4, h5, h6 {
	/*color:#467D26;*/
	/*color:#1C4183;*/
	color:#7C7067;
}
h1, h2, h3 {
	font-weight:normal;
}
h3 {
	font-size:1.2em !important;
}
h4 {
	font-weight:bold;
}
label, .label {
	color:#000;
}
label { 
	font-weight:bold;
}

.page-title {
	margin-bottom:16px;
	padding-bottom:0;
}

.arrow {

}
/*end of main page styles*/

/*admin*/

#admin-menu a:hover {
	color:#f08b1d !important;
}
.view .views-admin-links-hover .links li a, .view .views-admin-links .links li a {
	color:#fff !important;
}

/*end of admin*/

/*site headers*/

h1#site-name-header {
	width:480px;
	height:153px;
	margin:0 auto 0 auto;
	padding:0;
	background:transparent url(../images/logo_banner_480.gif) no-repeat 0 0;
}
h1#site-name-header a {
	display:block;
	width:480px;
	height:153px;
}
html>body h1#site-name-header {
	background:transparent url(../images/logo_banner_480.png) no-repeat 0 0;
}
h1#site-name-header span {
	display:none;
}

/*end of site header*/

/*blocks*/

/*social links*/ 

#block-block-1 ul {
	display:block;
	list-style-type:none;
	font-size:1.2em;
	width:200px;
	margin:0;
	padding:0;
}
#block-block-1 ul li {
	display:block;
	float:left;
	margin:0;
	padding:0;
}
#block-block-1 ul li a {
	display:inline-block;
	margin:0 0 4px 4px;
	background:#333;
	color:#fff;
	width:86px;
	height:26px;
	padding:8px 6px 6px 42px;
}
#block-block-1 ul li a.bt-twitter {
	background:transparent url(../images/tw-button.png) no-repeat 0 0;
}
#block-block-1 ul li a.bt-facebook {
	background:transparent url(../images/fb-button.png) no-repeat 0 0;
}
#block-block-1 ul li a.bt-youtube {
	background:transparent url(../images/yt-button.png) no-repeat 0 0;
}
#block-block-1 ul li a.bt-flickr {
	background:transparent url(../images/fk-button.png) no-repeat 0 0;
}
#block-block-1 ul li a.bt-feed {
	background:transparent url(../images/fd-button.png) no-repeat 0 0;
}
#block-block-1 ul li a:hover {
	text-decoration:none;
	color:#fff !important;
	background-position:0 -40px;
}
.sidebar ul li a span {
}
/*end of social links*/

/*mailchimp block*/
#block-block-2 {
}
#block-block-2 input.form-text {
	width:196px;
	min-width:196px;
}
#block-block-2 div {
	margin-top:6px;
}
#block-block-2 label {
	font-weight:normal;
	margin-bottom:6px;
}
#block-block-2 ul {
	margin-bottom:6px;
}
#block-block-2 ul li label {
	margin-left:8px;
}
#block-block-2 input.form-radios {
	margin:0 0 2px 0;
}
#block-block-2 input.form-submit {
	font-size:0.8em;
	margin:0 0 0 0;
}

/*end of blocks*/

/*custom login menu*/
.block-custom_login {
	width:514px;
	float:left;
	/*font-size:0.9em;*/
}
#custom-user-block {
	text-align:left;
}
#custom-user-block ul {
	display:block;
	list-style-type:none;
	margin:0;
	padding:2px 0 0 0;
}
#custom-user-block ul li {
	list-style-type:none;
	display:inline;
}
#custom-user-block ul li a {
	display:inline-block;
	margin:0 0 2px 8px;
	padding:0;
}
#custom-user-block ul li a:hover {
	margin:0 0 0 8px;
	border-bottom:2px solid #f08b1d;
	text-decoration:none !important;
	color:#f08b1d !important;
}
#custom-user-block ul li a.active {
	border-bottom:2px solid #fff;
	margin:0 0 0 8px;
}
	
/*end of custom login menu*/

/*search box*/

#search-theme-form {
	margin:0 0 0 auto;
	padding:0;
	width:226px;
	text-align:right;
	float:right;
}
html>body #search-theme-form {
	float:none;
}
#search-theme-form #search {
	margin:0;
	padding:0;
	font-size:0.8em;
}
#search-theme-form div {
	margin-bottom:0;
	padding-bottom:0;
}
#search-theme-form input {
	display:inline-block;
	margin-bottom:0;
	margin-top:0;
	padding-bottom:3px;
	padding-top:3px;
}
#search-theme-form input.form-text {
	background-color:#000;
	color:#fff;
	border:1px solid #ccc;
	width:150px;
	min-width:100px;
}
#search-theme-form input.form-submit {
	margin-right:0;
}

/*end of search box*/

/*navigation menus*/
#navigation .limiter {
	margin-top:6px;
	padding-bottom:0;
}
ul.primary-links {
	background:none;
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:center;
}
ul.primary-links li {
	display:inline !important;
	margin:0;
	padding:0;
}
ul.primary-links li a {
	display:inline-block !important;
	padding:5px 10px 8px 10px !important;
	margin:0 1px 0 1px;
	background-color:#333 !important;
	color:#fff !important;
	text-decoration:none;
	/*height:20px;*/
}
ul.primary-links li a:hover {
	/*border-bottom:8px solid #f08b1d;
	margin-bottom:0;*/
	background-color:#f08b1d !important;
	text-decoration:none;
}
ul.primary-links li.active a, ul.primary-links li.active-trail a {
	text-decoration:none;
	color:#fff !important;
	background-color:#72756c !important;
	/*border-bottom:8px solid #fff;
	margin-bottom:0;*/
}
ul.primary-links li.active a:hover, ul.primary-links li.active-trail a:hover {
	color:#fff !important;
	background-color:#f08b1d !important;
}
/*ul.primary-links li.active-trail a {
	text-decoration:none;
	color:#f08b1d !important;
	border-bottom:8px solid #fff;
	margin-bottom:0;
}*/

ul.secondary-links {
	background:none;
	margin-left:0px;
}

ul.links li a:link, ul.links li a:visited, ul.links li a:active {
	display:inline-block;
	background-color:#333;
	color:#fff;
	padding:2px 5px;
	line-height:1.5
}
ul.links li.active a {
	background-color:#eee;
	color:#f08b1d;
	text-decoration:none;
}
ul.links li a:hover {
	/*color:#b8b308;*/
	color:#fff !important;
	background-color:#f08b1d;
	text-decoration:none;
}

#tabs a {
	color:#fff;
}
#tabs a.active {
	color:#f08b1d;
}
ul.tabs, .tabs li, ul.buttons, .buttons li {
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
}
ul.tabs, ul.buttons {
	display:block;
	margin:0 0 8px 0;
	padding:0;
	min-height:20px;
}
ul.buttons {
	/*min-height:32px;*/
}
ul.tabs li, ul.buttons li {
	margin-left:0;
	margin-right:3px;
	padding:0;
}
ul.tabs li a {
	margin-right:0;
}
.tabs a, .buttons a, a.button {
	display:inline-block;
	color:#fff !important;
	text-decoration:none;
	background-color:#333 !important;
	padding:2px 5px !important;
}
.tabs a:hover, a.button:hover {
	color:#fff !important;
	background-color:#f08b1d !important;
	text-decoration:none;
}
.tabs a.active, .tabs a.active-trail {
	background-color:#eee !important;
	color:#f08b1d !important;
}
ul.buttons li li {
	width:100% !important;
}
/*end of navigation links*/

/*panels code*/
.panel-separator {
	margin-bottom:16px;
}

.panel-clear-pane {
	margin-bottom:16px;
}



/*lightbox*/

#lightbox #bottomNavClose {
/*	background:none !important;
/*	position:absolute;
	top:-16px;
	right:-16px;*/
}

/*end of lightbox*/

/*custom login (/login)*/
#custom-login {
	width:440px;
	float:left;
}
#custom-login input.form-text {
	width:432px;
}

#custom-register {
	width:440px;
	margin:0 0 0 480px;
}
#custom-register input.form-text {
	width:432px;
}
.description {
	margin-top:6px !important;
}
/*end of custom login*/

/*helper text*/
.help {
	background-color:#eee;
}
/*end helper text*/


/*input form*/

input.form-submit {
	/*background:none;*/
	display:inline-block !important;
	padding:3px 5px !important;
	color:#fff;
	background-color:#333;
}
input.form-submit:hover {
	color:#fff;
	background-color:#f08b1d;
}
input.form-text {
	min-width:240px;
}
input.form-text:active, input.form-text:focus, textarea:focus {
	background-color:#fffafa;
}
input.form-file {
	background:none !important;
}


/*end input form*/

/*split summary button*/
.teaser-checkbox {
	display:none;
}
/* end split summary button */

/*table headers (return to pre clean beta 2*/

thead {
	background-color:#fff;
	color:#222;
	border-bottom:3px solid #999;
}
th a:link, th a:visited {
	color:#f08b1d;
}

/*end of table headers*/

/*brand logos at bottom*/

#brandlogos {
	display:none;
	margin-bottom:20px;
	text-align:right;
	height:80px;
}

#brandlogos a {
}
#brandlogos a span {
	display:none;
}
a#sma-logo {
	display:inline-block;
	width:106px;
	height:68px;
	background:transparent url(../images/sma.png) no-repeat 0 0;
}
a#lambeth-logo {
	display:inline-block;
	width:128px;
	height:45px;
	background:transparent url(../images/lambeth.png) no-repeat 0 0;
	margin-top:8px;
}
/*end of brand logos at bottom*/

/*user login/register*/

#user-register, #user-login, #user-pass {
	margin-top:16px;
}
#user-register label, #user-login label {
	margin-top:16px;
	display:inline-block;
	width:140px;
	color:#000;
}
#user-pass label {
	margin-top:16px;
	display:inline-block;
	width:220px;
	color:#000;
}
#user-register .group-profile-questions label {
	display:block;
	width:auto;
}
/*#user-register #edit-title-wrapper label {
	width:400px;
}*/
#user-register label, #user-register #edit-title-wrapper label {
	display:inline-block;
	width:220px;
	margin-right:0;
}
#user-register #edit-title-wrapper input.form-text {
	width:240px;
}
/*end of user login/register*/

/*pager*/

.pager {
	text-align:center;
}
.pager li {
	padding:0 8px 0 8px !important;
	margin:0;
	width:auto;
}
.pager li a {
}
.view-Members ul.pager li, .view-list-of-norwood ul.pager li {
	width:auto !important;
	margin:0 !important;
}

/*end of pager*/

.acc-hide {
	display:none;
}
/*mailchimp form*/

#mc_embed_signup {
	font-size:1.2em !important;
}
.mc-field-group {
	font-size:1.2em !important;
}
#mc-embedded-subscribe {
	font-size:1.2em !important;
}

/*end of mailchimp form*/

/*graphical buttons*/

a.volunteerButton {
	display:inline-block;
	width:307px;
	height:90px;
	background:transparent url(../images/volunteer_button.png) no-repeat 0 0;
}
a.volunteerButton:hover {
	background-position:0 -90px;
}
a.volunteerButton span {
	display:none;
}

/*end of graphical buttons*/