#top-blocks {
	min-height: inherit;
}
#branding {
	margin-top: 0;
}
#navigation .limiter {
	margin-top: 0;
	padding-top: 0;
}
ul.primary-links {
	text-align: left;
}
ul.primary-links li a {
	width:16.3%;
	line-height: 1.5em;
	background-color: transparent !important;
	color: #AEA4A3 !important;
	display: inline-block !important;
	margin: 0 1px;
	padding: 0 !important;
	font-weight: lighter;
	border-bottom: solid 4px #F08B1D;
	border-top: solid 4px transparent;
	text-align: center;
}
ul.primary-links li.active a {
	background-color: #F08B1D !important;
	border-bottom: solid 4px #F08B1D;
	border-top: solid 4px #F08B1D;
}
#page {
	margin-top: 0;
}
#page h1 {
	display: none;
}
.node-type-story #page h1 {
	display:block;
}

.panel-region-separator{
	clear:both;
	margin:24px 0;
	height: 23px;
	background: transparent url("../images/ornate-separator.png") no-repeat center center;
}

#pane-home .inside .panel-region-separator:nth-child(2) {
	background-image:none;
	margin:0 0 0 0;
}

#pane-home .pane-next-feast,
html.js body.front div#page div.limiter div#content div#pane-home.panel-2col-stacked div.panel-col-top div.inside div.panel-pane div.pane-content div.view div.view-content div.views-row div.views-field-field-marketdate-value-1,
html.js body.front div#page div.limiter div#content div#pane-home.panel-2col-stacked div.panel-col-top div.inside div.panel-pane div.pane-content div.view div.view-content div.views-row div.views-field-field-marketdate-value {
	text-align:center !important;
}

.pane-latest-blog .views-field-field-photographs-fid {
	float:right;
}

/*.pane-next-feast {*/
	/*position: absolute;*/
	/*top:50px;*/
	/*right:0;*/
/*}*/
