/* $Id: Clean_RIBA.info,v 1.0 2010/01/27 00:31:00 andyb Exp $ */
/* this is for custom styles to overide the clean them*/

/*font size spec (use ems not px)*/
body, html>body {
	font-family:helvetica, arial, sans-serif;
	font-size:62.5% !important;
	color:#333;
}
body div#header {
	font-size:1.6em;
}
body div#branding {
	font-size:1.2em;
}
body div#navigation {
	font-size:1.6em;
}
body div#console {
	font-size:1.2em;
}
body div#page {
	font-size:1.2em;
	margin-top:16px;
}
body div#footer {
	font-size:1.2em;
}
/*end font size spec*/

/*main page style (h1's etc)*/

a, a:link, a:visited {
	color:#8d5072;
}
a:hover {
	color:#b54a60;
}

/*end of main page styles*/

/*custom styles for logos*/

#orgs-brand-logos {
	width:600px;
	float:right;
	text-align:right;
	vertical-align:middle;
}
#orgs-brand-logos a {
	vertical-align:middle;
	margin-left:16px;
}
#orgs-brand-logos a img {
	vertical-align:middle;
}

/*end custom styles for logos*/

/*site headers*/

h1 a#site-name {
	font-size:1em;
	color:#b54a60;
}
h1#site-name-header {
	margin-top:42px;
	font-size:2em;
}

/*end of site header*/

/*custom login menu*/
#custom-user-block {
	text-align:right;
}
#custom-user-block ul {
	display:block;
	list-style-type:none;
}
#custom-user-block ul li {
	display:inline;
}
#custom-user-block ul li a {
	display:inline-block;
	margin:0 0 0 8px;
}
/*end of custom login menu*/

/*navigation menus*/
#navigation .limiter {
	border-bottom:1px solid #333;
	margin-top:6px;
}
ul.primary-links, ul.secondary-links {
	background:none;
	margin-left:-10px;
}
#navigation ul li a {
	background:none !important;
}

ul.links li a:link, ul.links li a:visited, ul.links li a:active {
	background-color:#eee;
}
ul.links li.active a {
	background-color:#ddd;
}
ul.links li a:hover {
	color:#b54a60;
	background-color:#ccc;
}
/*end of navigation links*/

/*panels code*/
.panel-separator {
	margin-bottom:16px;
}

.list-of-spaces {
	margin-right:-220px;
}
.page-all-spaces .list-of-spaces {
	margin-right:0;
}

.list-of-spaces td.active, .page-conversations td.active, .page-user td.active {
	background:none;
}
.list-of-spaces tr.odd, .list-of-spaces tr.even, .page-conversations tr, .page-user tr {
	background:none;
	border-bottom:1px dotted #333;
}
#content ul.button-like-links {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
}
#content ul.button-like-links li {
	display:inline;
	margin:0;
	padding:0;
}
#content ul.button-like-links li a {
	display:inline-block;
	display:-moz-inline-box;
	margin:0 3px 0 0;
	padding:3px 3px;
	background-color:#eee;
	font-size:1em;
	font-weight:bold;
}
#content ul.button-like-links li a:hover {
	/*background-color:#cbcbcb;*/
}

#panel-node-view-photograph, #panel-node-view-map {
	width:320px;
	clear:right;
	float:right;
	margin:0 0 auto 16px;
}

#panel-node-view-comments {
	clear:both;
}

.panel-clear-pane {
	margin-bottom:16px;
}

#panel-node-space-all-images {
	width:700px;
	margin:16px 0 16px 4px;
	padding:0;
}
#panel-node-space-all-images .pane-title {
	margin-bottom:16px;
}
#panel-node-space-all-images .field-item {
	display:inline;
}
#panel-node-space-all-images .field-item img {
	display:inline-block;
	display:-moz-inline-box;
	margin:0 8px 8px 0;
}

#panel-user-picture {
	float:right;
}

#panel-user-list-spaces {
	clear:right;
}
/*end of panels code*/

/*lightbox*/

#lightbox #bottomNavClose {
/*	background:none !important;
/*	position:absolute;
	top:-16px;
	right:-16px;*/
}

/*end of lightbox*/

/*custom login (/login)*/
#custom-login {
	width:440px;
	float:left;
}
#custom-login input.form-text {
	width:432px;
}

#custom-register {
	width:440px;
	margin:0 0 0 480px;
}
#custom-register input.form-text {
	width:432px;
}
.description {
	margin-top:6px !important;
}
/*end of custom login*/

/*helper text*/
.help {
	background-color:#eee;
}
/*end helper text*/

/*add space form*/
.page-node #gmap-auto1map-locpick_latitude0-wrapper, .page-node #gmap-auto1map-locpick_longitude0-wrapper {
	display:none;
}
/*end add space form*/

/*input form*/

input.form-submit {
	/*background:none;*/
	color:#8d5072;
}
input.form-submit:hover {
	color:#b54a60;
}
input.form-text {
	min-width:240px;
}
input.form-text:active, input.form-text:focus, textarea:focus {
	background-color:#fffafa;
}
input.form-file {
	background:none !important;
}

#edit-profile-txt-wrapper input, #edit-profile-txt-wrapper label {
	display:none;
}

/*end input form*/

/*split summary button*/
.teaser-checkbox {
display:none;
}
/* end split summary button */

/*table headers (return to pre clean beta 2*/

thead {
	background-color:#fff;
	color:#222;
	border-bottom:3px solid #999;
}
th a:link, th a:visited {
	color:#8d5072;
}

/*end of table headers*/